{% extends 'users/base.html' %}

{% block title %}Security | NovaChat{% endblock %}
{% block section_name %}Security{% endblock %}
{% block body %}
<div class="form-panel">
    <p class="eyebrow">Security / 04</p><h1>Change password</h1><p>Keep your account protected with a password only you know.</p>
    <div>
        {% if form.errors %} 
            {% for field in form %}
                {% if field.errors %}
                    <p>Please correct the errors below:</p>
                    {{ field.errors }}
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit"><i class="fa-solid fa-lock"></i> Update password</button>
    </form>
</div>
{% endblock %}