{% extends 'users/base.html' %}
{% block title %}New Moment | NovaChat{% endblock %}
{% block section_name %}New moment{% endblock %}
{% block body %}
<div class="form-panel">
<p class="eyebrow">Compose / 02</p>
<h1>Create a new moment</h1>
<p>Put a little more of your world into words.</p>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit"><i class="fa-solid fa-paper-plane"></i> Publish moment</button>
</form>
</div>
{% endblock %}